*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    box-shadow: 5px 2px 10px rgb(29, 29, 51);
}
.logo{
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    font-weight: 700;
}
.dashboard{
  box-shadow: 5px 5px 10px rgb(93, 93, 96);
}
.active-tab{
  padding: 5px;
  color: rgb(24, 23, 23);
  border-bottom: 3px solid rgb(24, 23, 23);
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: black;
  background-color: white;
}

.paginationActive a {
  color: black;
  background-color: white;
}

.paginationDisabled a {
  background-color: rgb(60, 59, 59);
}
@media screen and (max-width: 1300px) {
  #createPost{
    columns: 10;
  }
}