*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    box-shadow: 5px 5px 10px rgb(29, 29, 51);
}
.logo{
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    font-weight: 700;
}
.dashboard{
  box-shadow: 5px 5px 10px rgb(93, 93, 96);
}
.active-tab{
  padding: 5px;
  color: rgb(24, 23, 23);
  border-bottom: 3px solid rgb(24, 23, 23);
}
@media screen and (max-width: 1300px) {
  #createPost{
    columns: 10;
  }
}

/* .loader{
    animation: spin 5s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(100deg);
  }
} */